/* 
    Document   : gantry-custom
    Created on : 29-abr-2013, 12:34:33
    Author     : Pablo Arias
    Description: Custom and specific CSS for the project
*/

/* General */
body {
    background: #FFF;
    margin: 0;
}

/* Header */
#rt-top-surround {
    background: none transparent;
    box-shadow: none;
    border-bottom: 1px solid #AFAFAF;
}

#rt-top-surround:after {
    background: none transparent;
}

/* Drawer */
div#rt-drawer {
    border: none;
}

/* Contact */
div.contact div.contactDetails {
    float: right;
    min-width: 320px;
}

div.contact legend {
    font-size: 14px;
    border: none;
    margin: 0;
}

div.contact div.form-actions {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

/* Error page */
.rt-error-content {
    margin: 0;
}

/* Footer */
div#rt-footer {
    background: none transparent;
    box-shadow: none;
}

/* Footer menu */
ul.menu li {
    display: inline-block;
}

ul.menu li a,
ul.menu li .item,
ul.menu li .separator {
    display: inline-block;
}

ul.menu li a:hover {
    background: none transparent;
}

ul.menu li a:before,
ul.menu li .item:before,
ul.menu li .separator:before {
    content: "";
}

ul.menu li.active.current > a:before,
ul.menu li.active.current > .item:before,
ul.menu li.active.current > .separator:before,
ul.menu li#current.active > a:before,
ul.menu li#current.active > .item:before,
ul.menu li#current.active > .separator:before {
    content: "";
}